body {
  background: rgb(40, 155, 231);
  color: #007BF5;
  margin: 0px;
}

.card{
  width: 21rem;
  /* height: 21rem; */
  background: #fff;
  border-radius: 2rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: absolute;
  top: 14%;
  right: 40%;
  text-align: center;
  z-index: 3;
  font-family: Proxima Nova;
}

.card h1{
  font-weight: 100;
}

.card p{
  font-weight: 100;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 2.3rem;
}

.card a{
  border: solid #007BF5 1px;
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 13px;
  color: #007BF5;
}